{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <img src="{% static 'img/header.jpg' %}" width="100%" height="100%" alt="" class="img-responsive">
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-10">
            <p>Humannoid was created by Frank Chuka.A software engineer and machine learning expert.
                Humanoid was created as a way of making machine learning accessible to everyone even if you are not a
                computer programmer
            </p>
            <p>Humanoid is a site were we try to simplify complicated machine learning concepts and make them easy
                to understand.This site is primarily focused on beginners who are looking for a smooth introduction into
                the world of machine learning
            </p>

        </div>
    </div><br><br><br>
</div>

{% endblock content %}